# 基本パッケージ
Django>=4.2,<5.0
djangorestframework
python-dotenv
gunicorn
django-cors-headers

# データベースドライバ
psycopg2-binary     # 本番用：PostgreSQL
mysqlclient         # 開発用：MySQL（ローカル）

# テスト関連（任意）
pytest
pytest-django

# ユーティリティ（任意）
requests
ipython
Pillow
